{%- assign aa_sectid = section.id | split: '__' -%}
{%- assign aa_sectid = aa_sectid[1] -%}
{%- assign aa_sectid = aa_sectid | replace: '-', '_' -%}

<style>
  @media screen and (min-width: 750px) {
    #shopify-section-{{ section.id }} .aa-cp-s12 .aa-mb{
      display:none ;
    }
    #shopify-section-{{ section.id }} .aa-cp-s12 .aa-items {
      width: 100%;
      position: relative;
      margin-bottom: 145px;
    }
    #shopify-section-{{ section.id }} .aa-cp-s12 .aa-items .aa-img-main {
      position: relative;
      width: 100%;
      height: auto;
    }
    #shopify-section-{{ section.id }} .aa-cp-s12 .aa-items .aa-img-main img {
      width: 100%;
    }
    #shopify-section-{{ section.id }} .aa-cp-s12 .aa-items .top-activity-list{
      position: absolute;
      width: 100%;
      bottom: -135px;
      left: 0;
      z-index: 9;
    }
    #shopify-section-{{ section.id }} .aa-cp-s12 .aa-items .aa-bottom-activity {
      position: absolute;
      width: 100%;
      bottom: -135px;
      left: 0;
      z-index: 9;
    }
    #shopify-section-{{ section.id }} .aa-cp-s12 .aa-bottom-container {
      display: flex;
      justify-content: space-between;
      gap:10px;
      padding-left: 40px;
      padding-right: 40px;
      max-width: 1480px;
      margin: 0 auto;
    }
    #shopify-section-{{ section.id }} .aa-cp-s12 .aa-items .aa-bottom-left-activity {
      position: relative;
      width: 67%;
    }
    #shopify-section-{{ section.id }} .aa-cp-s12 .aa-items .aa-bottom-right-activity {
      position: relative;
      width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    #shopify-section-{{ section.id }} .aa-cp-s12 .aa-items .aa-item-right-activity {
      width: 100%;
    }
  }

  @media screen and (max-width: 749px) {
    #shopify-section-{{ section.id }} .aa-cp-s12 .aa-pc{
      display:none ;
    }
    #shopify-section-{{ section.id }} .aa-cp-s12 .aa-items {
      width: 100%;
      position: relative;
      margin-bottom: 10px;
      overflow-x: hidden;
      overflow-y: clip;
      height: 279vw;
    }
    #shopify-section-{{ section.id }} .aa-cp-s12 .aa-items .aa-img-main img {
      width: 100%;
      max-width: 100%;
    }
    #shopify-section-{{ section.id }} .aa-cp-s12 .aa-items .aa-bottom-activity {
      position: absolute;
      width: 100%;
      bottom: -135px;
      left: 0;
      z-index: 9;
      display: flex;
      justify-content: space-between;
      gap:10px;
      padding-left: 16px;
      padding-right: 16px;
      position: inherit;
      width: 100%;
      margin-top: -235px;
      display: flow-root;
    }
    #shopify-section-{{ section.id }} .aa-cp-s12 .aa-items .aa-bottom-left-activity {
      width: 100%;
      padding: 0;
      margin-bottom: 10px;
    }
    #shopify-section-{{ section.id }} .aa-cp-s12 .aa-items .aa-bottom-right-activity {
 
    }
    #shopify-section-{{ section.id }} .aa-cp-s12 .aa-items .aa-item-right-activity {
      width: 100%;
      padding: 0;
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 1300px) {
    #shopify-section-{{ section.id }} .aa-cp-s12 .aa-bottom-container {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
</style>

<div class="aa-sect aa-cp-s12">
  <div class="aa-pc">
    <div class="aa-page-width">
      <div class="aa-items" {{ settings.aa_item_animate }}>
        <div class="aa-top-activity">
          {%- if section.blocks[0].settings.link != blank -%}
            <a class="aa-link-mask" href="{{ section.blocks[0].settings.link }}">
              {%- if section.blocks[0].settings.img != blank -%}
                <div class="aa-img aa-img-main">
                  <img src="{{ section.blocks[0].settings.img | img_url: "master" }}">
                </div>
              {%- endif -%}
            </a>
          {%- endif -%}
        </div>
        <div class="aa-bottom-activity">
          <div class="aa-bottom-container">
              <div class="aa-bottom-left-activity">
                {%- if section.blocks[1].settings.link != blank -%}
                  <a class="aa-link-mask" href="{{ section.blocks[1].settings.link }}">
                    {%- if section.blocks[1].settings.img != blank -%}
                      <div class="aa-img aa-img-left">
                        <img src="{{ section.blocks[1].settings.img | img_url: "master" }}">
                      </div>
                    {%- endif -%}
                  </a>
                {%- endif -%}
              </div>
              <div class="aa-bottom-right-activity">
                <div class="aa-item-right-activity">
                  {%- if section.blocks[2].settings.link != blank -%}
                    <a class="aa-link-mask" href="{{ section.blocks[2].settings.link }}">
                      {%- if section.blocks[2].settings.img != blank -%}
                        <div class="aa-img aa-img-right">
                          <img src="{{ section.blocks[2].settings.img | img_url: "master" }}">
                        </div>
                      {%- endif -%}
                    </a>
                  {%- endif -%}
                </div>
                <div class="aa-item-right-activity">
                  {%- if section.blocks[3].settings.link != blank -%}
                    <a class="aa-link-mask" href="{{ section.blocks[3].settings.link }}">
                      {%- if section.blocks[3].settings.img != blank -%}
                        <div class="aa-img aa-img-right">
                          <img src="{{ section.blocks[3].settings.img | img_url: "master" }}">
                        </div>
                      {%- endif -%}
                    </a>
                  {%- endif -%}
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="aa-mb">
    <div class="aa-page-width">
      <div class="aa-items" {{ settings.aa_item_animate }}>
        <div class="aa-top-activity">
          {%- if section.blocks[0].settings.link != blank -%}
            <a class="aa-link-mask" href="{{ section.blocks[0].settings.link }}">
              {%- if section.blocks[0].settings.img_m != blank -%}
                <div class="aa-img aa-img-main">
                  <img src="{{ section.blocks[0].settings.img_m | img_url: "master" }}">
                </div>
              {%- endif -%}
            </a>
          {%- endif -%}
        </div>
        <div class="aa-bottom-activity">
          <div class="aa-bottom-left-activity">
            {%- if section.blocks[1].settings.link != blank -%}
              <a class="aa-link-mask" href="{{ section.blocks[1].settings.link }}">
                {%- if section.blocks[1].settings.img_m != blank -%}
                  <div class="aa-img aa-img-left">
                    <img src="{{ section.blocks[1].settings.img_m | img_url: "master" }}">
                  </div>
                {%- endif -%}
              </a>
            {%- endif -%}
          </div>
          <div class="aa-bottom-right-activity">
            <div class="aa-item-right-activity">
              {%- if section.blocks[2].settings.link != blank -%}
                <a class="aa-link-mask" href="{{ section.blocks[2].settings.link }}">
                  {%- if section.blocks[2].settings.img_m != blank -%}
                    <div class="aa-img aa-img-right">
                      <img src="{{ section.blocks[2].settings.img_m | img_url: "master" }}">
                    </div>
                  {%- endif -%}
                </a>
              {%- endif -%}
            </div>
            <div class="aa-item-right-activity">
              {%- if section.blocks[3].settings.link != blank -%}
                <a class="aa-link-mask" href="{{ section.blocks[3].settings.link }}">
                  {%- if section.blocks[3].settings.img_m != blank -%}
                    <div class="aa-img aa-img-right">
                      <img src="{{ section.blocks[3].settings.img_m | img_url: "master" }}">
                    </div>
                  {%- endif -%}
                </a>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "AA CP S12",
  "limit": 1,
  "max_blocks": 4,
  "settings": [
    {
  "type": "text",
  "id": "heading",
  "label": "Heading",
  "default": "Easy-on & Easy-off"
}],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "img_m",
          "label": "Image mobile"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "default": "/"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "AA CP S12"
    }
  ]
}
{% endschema %}
